<div class="wrapper">
  <div class="wrapper__list-one">
    <h2 class="poppins-bold header">Large Cards On Horizontal List</h2>
    <div class="wrapper__list-one__content">
      <div class="wrapper__list-one__content__item" *ngFor="let user of users">
        <lib-medium-user-card [userData]="user" />
      </div>
    </div>
  </div>
  <div class="wrapper__list-two">
    <h2 class="poppins-bold header">Small Cards On Vertical List</h2>
    <div class="wrapper__list-two__content">
      <div class="wrapper__list-two__content__item" *ngFor="let user of users">
        <lib-small-user-card [userData]="user" />
      </div>
    </div>
  </div>
</div>
